{% extends 'customerbase.html' %}
{% block content %}
<html>
    <head>
        <title></title>
        <style>
            h1{
                color:rgb(16, 48, 16);
                text-align: center;

            }
            body{
                background-image:url(../static/images/pdt.jpg);
                background-position-y: 100px;
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>
        <br><br>
        <h1><b>WELCOME CUSTOMER</b></h1>
        <br><br><br><br>
    </body>
</html>
{% endblock %}